# Introduction

In [80]:
# Creating SQL environment

%%capture
%load_ext sql
%sql sqlite:///factbook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @factbook.db'

# Available Tables in The Database

In [82]:
%%sql

SELECT * FROM sqlite_master;

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

# Data Overview

In [83]:
%%sql

select * from facts
limit 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

# Column Descriptions

Here are the descriptions for some of the columns:
- name - The name of the country.
- area- The country's total area (both land and water).
- area_land - The country's land area in [square kilometers](https://www.cia.gov/library/publications/the-world-factbook/rankorder/2147rank.html).
- area_water - The country's waterarea in square kilometers.
- population - The country's population.
- population_growth- The country's population growth as a percentage.
- birth_rate - The country's birth rate, or the number of births a year per 1,000 people.
- death_rate - The country's death rate, or the number of death a year per 1,000 people.

Let's start by calculating some summary statistics and look for any outlier countries.

# Finding Outliers

In [86]:
%%sql

SELECT min(population), min(population_growth), max(population), max(population_growth)
FROM facts;

 * sqlite:///factbook.db
Done.

[(0, 0.0, 7256490011, 4.02)]

So, we can something unusual from the summary statistics:
- There's a country with a population of 0
- There's a country with a population of 7256490011 (or more than 7.2 billion people)

**Executing a query that returns the countrie(s) with the minimum population.**

**Using sub queries**

In [93]:
%%sql

SELECT * FROM facts
WHERE population = (SELECT min(population) FROM facts);

 * sqlite:///factbook.db
Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

**Executing a query that returns the countrie(s) with the maximum population.**

In [94]:
%%sql

SELECT * FROM facts
WHERE population = (SELECT max(population) FROM facts);

 * sqlite:///factbook.db
Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

-  <b>It seems like the table contains a row for the whole world, which explains the population of over 7.2 billion. It also seems like the table contains a row for Antarctica, which explains the population of 0. This seems to match the CIA Factbook [page for Antarctica](https://www.cia.gov/library/publications/the-world-factbook/geos/ay.html):

Now that we know this, we should recalculate the summary statistics we calculated earlier, while excluding the row for the whole world. </b>

In [95]:
%%sql

SELECT min(population), min(population_growth), max(population), max(population_growth)
FROM facts
WHERE population != 7256490011;

 * sqlite:///factbook.db
Done.

[(0, 0.0, 1367485388, 4.02)]

-  So, we found out that there is a country with 1367485388 population.

**Exploring the average values for population and area**

In [16]:
%%sql

SELECT avg(population), avg(area) FROM facts
WHERE population != 7256490011;

 * sqlite:///factbook.db
Done.

[(32242666.56846473, 582949.8523206752)]

-   **From the table above, we could see that the average population is approximately 32 million and average area is also 555 thousand square kilometers.**

**Let's explore the countries that are densely populated**

We'll identify countries that have:
- Above average values for population.
- Below average values for area.

In [77]:
%%sql
SELECT * 
FROM facts
WHERE (population > (SELECT avg(population) FROM facts WHERE population <> 7256490011) AND 
       area < (SELECT avg(area) FROM facts WHERE population <> 7256490011));

 * sqlite:///factbook.db
Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (88, 'ke', 'Kenya', 580367, 569140, 11227, 45925301, 1.93, 26.4, 6.89, 0.22),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

**Let's figure out**
-  What country has the most people?
-  What country has the highest growth rate?

In [31]:
%%sql

SELECT * FROM facts
WHERE population = (SELECT max(population) 
                    FROM facts 
                    WHERE name <> 'World');

 * sqlite:///factbook.db
Done.

[(37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44)]

-    **China has the highest number of people**

In [32]:
%%sql

SELECT * FROM facts
WHERE population_growth = (SELECT max(population_growth) 
                    FROM facts 
                    WHERE name <> 'World');

 * sqlite:///factbook.db
Done.

[(162, 'od', 'South Sudan', 644329, None, None, 12042910, 4.02, 36.91, 8.18, 11.47)]

-   **South Sudan has highest number of population growth**

**Let's explore the below queries**
-  Which countries have the highest ratios of water to land?
-  Which countries have more water than land?

In [96]:
%%sql

SELECT name, area_land, area_water, 
        ROUND(CAST(area_water AS float)/CAST(area_land AS float) , 4) AS water_land 
FROM facts
ORDER BY water_land DESC
LIMIT 10;

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 60, 54340, 905.6667),
 ('Virgin Islands', 346, 1564, 4.5202),
 ('Puerto Rico', 8870, 4921, 0.5548),
 ('Bahamas, The', 10010, 3870, 0.3866),
 ('Guinea-Bissau', 28120, 8005, 0.2847),
 ('Malawi', 94080, 24404, 0.2594),
 ('Netherlands', 33893, 7650, 0.2257),
 ('Uganda', 197100, 43938, 0.2229),
 ('Eritrea', 101000, 16600, 0.1644),
 ('Liberia', 96320, 15049, 0.1562)]

-   **Britis indian ocean territory has the highest water to land ratio followed by Virgin Islands, Puerto Rico etc**

In [97]:
%%sql

SELECT * FROM facts
WHERE area_water > area_land
ORDER BY area_water
LIMIT 5;

 * sqlite:///factbook.db
Done.

[(247, 'vq', 'Virgin Islands', 1910, 346, 1564, 103574, 0.59, 10.31, 8.54, 7.67),
 (228, 'io', 'British Indian Ocean Territory', 54400, 60, 54340, None, None, None, None, None)]

-    **We wanted to top countries which have more water area than land but theb query only shows two. That means in the whole world only two places have more water area than land**

**Exploring countries with increase population growth next year**

In [49]:
%%sql

SELECT name, area, population, population_growth FROM facts
ORDER BY population_growth DESC
LIMIT 10;

 * sqlite:///factbook.db
Done.

[('South Sudan', 644329, 12042910, 4.02),
 ('Malawi', 118484, 17964697, 3.32),
 ('Burundi', 27830, 10742276, 3.28),
 ('Niger', None, 18045729, 3.25),
 ('Uganda', 241038, 37101745, 3.24),
 ('Qatar', 11586, 2194817, 3.07),
 ('Burkina Faso', 274200, 18931686, 3.03),
 ('Mali', 1240192, 16955536, 2.98),
 ('Cook Islands', 236, 9838, 2.95),
 ('Iraq', 438317, 37056169, 2.93)]

-   **The above are the possible countries which would add more people to their population**

**Exploring which countries have a higher death rate than birth rate?**

In [51]:
%%sql

SELECT * FROM facts
WHERE death_rate > birth_rate
ORDER BY death_rate DESC
LIMIT 7;

 * sqlite:///factbook.db
Done.

[(183, 'up', 'Ukraine', 603550, 579330, 24220, 44429471, 0.6, 10.72, 14.46, 2.25),
 (26, 'bu', 'Bulgaria', 110879, 108489, 2390, 7186893, 0.58, 8.92, 14.44, 0.29),
 (96, 'lg', 'Latvia', 64589, 62249, 2340, 1986705, 1.06, 10.0, 14.31, 6.26),
 (102, 'lh', 'Lithuania', 65300, 62680, 2620, 2884433, 1.04, 10.1, 14.27, 6.27),
 (143, 'rs', 'Russia', 17098242, 16377742, 720500, 142423773, 0.04, 11.6, 13.69, 1.69),
 (153, 'ri', 'Serbia', 77474, 77474, 0, 7176794, 0.46, 9.08, 13.66, 0.0),
 (16, 'bo', 'Belarus', 207600, 202900, 4700, 9589689, 0.2, 10.7, 13.36, 0.7)]

-    **The above are the countries which have high death rate. The dataset is arranged from high death rate to low death rate**

**Exploring what countries have the highest population/area ratio.**

In [73]:
%%sql

SELECT name, area, population, CAST(population AS float) / CAST(area AS float) AS population_area
FROM facts
ORDER BY population_area DESC;

 * sqlite:///factbook.db
Done.

[('Macau', 28, 592731, 21168.964285714286),
 ('Monaco', 2, 30535, 15267.5),
 ('Singapore', 697, 5674472, 8141.279770444763),
 ('Hong Kong', 1108, 7141106, 6445.041516245487),
 ('Gaza Strip', 360, 1869055, 5191.819444444444),
 ('Gibraltar', 6, 29258, 4876.333333333333),
 ('Bahrain', 760, 1346613, 1771.8592105263158),
 ('Maldives', 298, 393253, 1319.6409395973155),
 ('Malta', 316, 413965, 1310.01582278481),
 ('Bermuda', 54, 70196, 1299.9259259259259),
 ('Sint Maarten', 34, 39689, 1167.3235294117646),
 ('Bangladesh', 148460, 168957745, 1138.0691432035565),
 ('Guernsey', 78, 66080, 847.1794871794872),
 ('Jersey', 116, 97294, 838.7413793103449),
 ('Barbados', 430, 290604, 675.8232558139534),
 ('Mauritius', 2040, 1339827, 656.7779411764706),
 ('Taiwan', 35980, 23415126, 650.7817120622568),
 ('Aruba', 180, 112162, 623.1222222222223),
 ('Lebanon', 10400, 6184701, 594.6827884615385),
 ('Saint Martin', 54, 31754, 588.0370370370371),
 ('San Marino', 61, 33020, 541.311475409836),
 ('Korea, South', 99720, 49115196, 492.53104693140796),
 ('Rwanda', 26338, 12661733, 480.74010934771053),
 ('West Bank', 5860, 2785366, 475.3184300341297),
 ('Nauru', 21, 9540, 454.2857142857143),
 ('Tuvalu', 26, 10869, 418.03846153846155),
 ('Netherlands', 41543, 16947904, 407.96052283176465),
 ('Marshall Islands', 181, 72191, 398.8453038674033),
 ('Israel', 20770, 8049314, 387.5452094366875),
 ('Burundi', 27830, 10742276, 385.99626302551206),
 ('India', 3287263, 1251695584, 380.7713541630226),
 ('Belgium', 30528, 11323973, 370.9372707023061),
 ('Haiti', 27750, 10110019, 364.325009009009),
 ('Comoros', 2235, 780971, 349.42774049217),
 ('Philippines', 300000, 100998376, 336.6612533333333),
 ('Sri Lanka', 65610, 22053488, 336.12998018594726),
 ('Japan', 377915, 126919659, 335.8418136353413),
 ('Curacao', 444, 148406, 334.2477477477477),
 ('Grenada', 344, 110694, 321.7848837209302),
 ('Guam', 544, 161785, 297.39889705882354),
 ('El Salvador', 21041, 6141350, 291.8753861508483),
 ('Vietnam', 331210, 94348835, 284.8610700160019),
 ('American Samoa', 199, 54343, 273.08040201005025),
 ('Jamaica', 10991, 2950210, 268.4205258848148),
 ('Saint Lucia', 616, 163922, 266.10714285714283),
 ('Saint Vincent and the Grenadines', 389, 102627, 263.82262210796915),
 ('United Kingdom', 243610, 64088222, 263.0771396904889),
 ('Puerto Rico', 13791, 3598357, 260.92067290261764),
 ('Pakistan', 796095, 199085847, 250.07800199724906),
 ('Trinidad and Tobago', 5128, 1222363, 238.3703198127925),
 ('Liechtenstein', 160, 37624, 235.15),
 ('Germany', 357022, 80854408, 226.4689795026637),
 ('British Virgin Islands', 151, 33454, 221.5496688741722),
 ('Luxembourg', 2586, 570252, 220.51508120649652),
 ('Dominican Republic', 48670, 10478756, 215.3021573864804),
 ('Nepal', 147181, 31551305, 214.3707747603291),
 ('Cayman Islands', 264, 56092, 212.46969696969697),
 ('Antigua and Barbuda', 442, 92436, 209.13122171945702),
 ('Korea, North', 120538, 24983205, 207.26414076888616),
 ('Italy', 301340, 61855120, 205.26687462666754),
 ('Seychelles', 455, 92430, 203.14285714285714),
 ('Sao Tome and Principe', 964, 194006, 201.25103734439833),
 ('Saint Kitts and Nevis', 261, 51936, 198.98850574712642),
 ('Switzerland', 41277, 8121830, 196.76405746541658),
 ('Nigeria', 923768, 181562056, 196.5450805830035),
 ('Qatar', 11586, 2194817, 189.43699292249266),
 ('Andorra', 468, 85580, 182.86324786324786),
 ('Anguilla', 91, 16418, 180.41758241758242),
 ('Gambia, The', 11300, 1967709, 174.13353982300885),
 ('Kosovo', 10887, 1870981, 171.8545972260494),
 ('Kuwait', 17818, 2788534, 156.50095409136827),
 ('Uganda', 241038, 37101745, 153.92487906471177),
 ('Isle of Man', 572, 87545, 153.0506993006993),
 ('Malawi', 118484, 17964697, 151.62129063839842),
 ('Micronesia, Federated States of', 702, 105216, 149.8803418803419),
 ('Tonga', 747, 106501, 142.57161981258366),
 ('China', 9596960, 1367485388, 142.4915168970174),
 ('Guatemala', 108889, 14918999, 137.01107549890256),
 ('Cabo Verde', 4033, 545993, 135.3813538308951),
 ('Czech Republic', 78867, 10644842, 134.97206689743493),
 ('Indonesia', 1904569, 255993674, 134.41029125224657),
 ('Togo', 56785, 7552318, 132.99846790525666),
 ('Thailand', 513120, 67976405, 132.47662340193327),
 ('Kiribati', 811, 105711, 130.34648581997533),
 ('Denmark', 43094, 5581503, 129.51926022184063),
 ('Cyprus', 9251, 1189197, 128.54794076316074),
 ('Akrotiri', 123, 15700, 127.64227642276423),
 ('Poland', 312685, 38562189, 123.3259958104802),
 ('Dhekelia', 130, 15700, 120.76923076923077),
 ('European Union', 4324782, 513949445, 118.83823161491145),
 ('Portugal', 92090, 10825309, 117.5514062330329),
 ('Azerbaijan', 86600, 9780780, 112.94203233256351),
 ('Northern Mariana Islands', 464, 52344, 112.8103448275862),
 ('Tokelau', 12, 1337, 111.41666666666667),
 ('Slovakia', 49035, 5445027, 111.04368308351178),
 ('Ghana', 238533, 26327649, 110.37319364616216),
 ('Wallis and Futuna', 142, 15613, 109.95070422535211),
 ('Hungary', 93028, 9897541, 106.3931396998753),
 ('Albania', 28748, 3029278, 105.37352163628775),
 ('Moldova', 33851, 3546847, 104.77820448435793),
 ('France', 643801, 66553766, 103.37630106197412),
 ('Austria', 83871, 8665550, 103.31997949231558),
 ('Armenia', 29743, 3056382, 102.75970816662745),
 ('Turkey', 783562, 79414269, 101.35033220089795),
 ('Cuba', 110860, 11031433, 99.50778459318059),
 ('Dominica', 751, 73607, 98.01198402130493),
 ('Slovenia', 20273, 1983412, 97.8351501997731),
 ('Spain', 505370, 48146134, 95.26907810119319),
 ('Costa Rica', 51100, 4814144, 94.21025440313112),
 ('Benin', 112622, 10448647, 92.77625153167232),
 ('Serbia', 77474, 7176794, 92.63487105351473),
 ('Malaysia', 329847, 30513848, 92.50909664177634),
 ('Syria', 185180, 17064854, 92.1527918781726),
 ('Romania', 238391, 21666350, 90.88577169440121),
 ('Jordan', 89342, 8117564, 90.85943900964831),
 ('Ethiopia', 1104300, 99465819, 90.0713746264602),
 ('Egypt', 1001450, 88487396, 88.3592750511758),
 ('Cambodia', 181035, 15708756, 86.77192808020548),
 ('Iraq', 438317, 37056169, 84.5419388250969),
 ('Burma', 676578, 56320206, 83.24273919636761),
 ('Timor-Leste', 14874, 1231116, 82.76966518757564),
 ('Swaziland', 17364, 1435613, 82.67755125547109),
 ('Sierra Leone', 71740, 5879098, 81.9500696961249),
 ('Greece', 131957, 10775643, 81.66026053941815),
 ('Macedonia', 25713, 2096015, 81.51577023295609),
 ('Kenya', 580367, 45925301, 79.1314823206695),
 ('Croatia', 56594, 4464844, 78.89253277732622),
 ('Honduras', 112090, 8746673, 78.03258988312963),
 ('Bosnia and Herzegovina', 51197, 3867055, 75.53284372131179),
 ('Morocco', 446550, 33322699, 74.6225484268279),
 ('Brunei', 5765, 429646, 74.5266261925412),
 ('Ukraine', 603550, 44429471, 73.61357136939773),
 ("Cote d'Ivoire", 322463, 23295302, 72.2417827781792),
 ('Senegal', 196722, 13975834, 71.0435741808237),
 ('Georgia', 69700, 4931226, 70.74929698708752),
 ('Samoa', 2831, 197773, 69.8597668668315),
 ('Ireland', 70273, 4892305, 69.61855904828312),
 ('United Arab Emirates', 83600, 5779760, 69.13588516746411),
 ('Burkina Faso', 274200, 18931686, 69.04334792122539),
 ('French Polynesia', 4167, 282703, 67.84329253659708),
 ('Tunisia', 163610, 11037225, 67.46057698184707),
 ('Uzbekistan', 447400, 29199942, 65.26585158694681),
 ('Bulgaria', 110879, 7186893, 64.81744063348334),
 ('Lesotho', 30355, 1947701, 64.16409158293527),
 ('Mexico', 1964375, 121736809, 61.972285841552655),
 ('Norfolk Island', 36, 2210, 61.388888888888886),
 ('Tajikistan', 144100, 8191958, 56.84911866759195),
 ('Ecuador', 283561, 15868396, 55.96113710982822),
 ('Eritrea', 117600, 6527689, 55.507559523809526),
 ('Virgin Islands', 1910, 103574, 54.227225130890055),
 ('Tanzania', 947300, 51045882, 53.88565607516098),
 ('Turks and Caicos Islands', 948, 50280, 53.037974683544306),
 ('Montserrat', 102, 5241, 51.38235294117647),
 ('Yemen', 527968, 26737317, 50.64192716225226),
 ('Cameroon', 475440, 23739218, 49.93104913343429),
 ('Afghanistan', 652230, 32564342, 49.92769728470018),
 ('Fiji', 18274, 909389, 49.764091058334245),
 ('Iran', 1648195, 81824270, 49.64477504178814),
 ('Panama', 75420, 3657024, 48.48878281622912),
 ('Guinea', 245857, 11780162, 47.91469024676946),
 ('Guinea-Bissau', 36125, 1726170, 47.78325259515571),
 ('Montenegro', 13812, 647073, 46.84860990443093),
 ('Palau', 459, 21265, 46.328976034858385),
 ('Belarus', 207600, 9589689, 46.193106936416186),
 ('Nicaragua', 130370, 5907881, 45.31626140983355),
 ('Lithuania', 65300, 2884433, 44.172021439509955),
 ('South Africa', 1219090, 53675563, 44.02920457062235),
 ('Cocos (Keeling) Islands', 14, 596, 42.57142857142857),
 ('Cook Islands', 236, 9838, 41.686440677966104),
 ('Colombia', 1138910, 46736728, 41.036366350282286),
 ('Madagascar', 587041, 23812681, 40.56391461584455),
 ('Liberia', 111369, 4195666, 37.6735536819043),
 ('Zimbabwe', 390757, 14229541, 36.41531949523617),
 ('Faroe Islands', 1393, 50196, 36.034458004307254),
 ('Djibouti', 23200, 828324, 35.703620689655175),
 ('Congo, Democratic Republic of the', 2344858, 79375136, 33.85072187740153),
 ('United States', 9826675, 321368864, 32.70372369087204),
 ('Venezuela', 912050, 29275460, 32.09852530014802),
 ('Mozambique', 799380, 25303113, 31.65342265255573),
 ('Latvia', 64589, 1986705, 30.759185000541887),
 ('Laos', 236800, 6911544, 29.187263513513514),
 ('Kyrgyzstan', 199951, 5664939, 28.331636250881466),
 ('Estonia', 45228, 1265420, 27.978685769877067),
 ('Equatorial Guinea', 28051, 740743, 26.40700866279277),
 ('Saint Helena, Ascension, and Tristan da Cunha', 308, 7795, 25.308441558441558),
 ('Brazil', 8515770, 204259812, 23.98606491250938),
 ('Peru', 1285216, 30444999, 23.688624324627146),
 ('Bahamas, The', 13880, 324597, 23.385951008645534),
 ('Saint Pierre and Miquelon', 242, 5657, 23.376033057851238),
 ('Chile', 756102, 17508260, 23.15594985861696),
 ('Vanuatu', 12189, 272264, 22.336861104274345),
 ('Sweden', 450295, 9801616, 21.7670993459843),
 ('Solomon Islands', 28896, 622469, 21.54170127353267),
 ('Zambia', 752618, 15066266, 20.01847683685482),
 ('Sudan', 1861484, 36108853, 19.397885235650698),
 ('Bhutan', 38394, 741919, 19.3238266395791),
 ('Uruguay', 176215, 3341893, 18.96486110717022),
 ('South Sudan', 644329, 12042910, 18.690622337346294),
 ('Paraguay', 406752, 6783272, 16.67667768074896),
 ('Somalia', 637657, 10616380, 16.649044862676956),
 ('Algeria', 2381741, 39542166, 16.602210735760103),
 ('New Zealand', 267710, 4438393, 16.57910798998917),
 ('Finland', 338145, 5476922, 16.196962841384615),
 ('Norway', 323802, 5207689, 16.082942662491277),
 ('Angola', 1246700, 19625353, 15.741840859870058),
 ('Argentina', 2780400, 43431886, 15.620732988059272),
 ('Belize', 22966, 347369, 15.125359226682923),
 ('New Caledonia', 18575, 271615, 14.622611036339165),
 ('Papua New Guinea', 462840, 6672429, 14.416275602800104),
 ('Congo, Republic of the', 342000, 4755097, 13.903792397660819),
 ('Mali', 1240192, 16955536, 13.671702446072866),
 ('Saudi Arabia', 2149690, 27752316, 12.909915383148268),
 ('Christmas Island', 135, 1530, 11.333333333333334),
 ('Turkmenistan', 488100, 5231422, 10.717930751895103),
 ('Oman', 309500, 3286936, 10.620148626817448),
 ('Bolivia', 1098581, 10800882, 9.831666486130745),
 ('Central African Republic', 622984, 5391539, 8.654377961552784),
 ('Russia', 17098242, 142423773, 8.329731968935754),
 ('Kazakhstan', 2724900, 18157122, 6.6634085654519435),
 ('Gabon', 267667, 1705336, 6.371110372216224),
 ('Niue', 260, 1190, 4.576923076923077),
 ('Botswana', 581730, 2182719, 3.752116961476974),
 ('Libya', 1759540, 6411776, 3.644006956363595),
 ('Suriname', 163820, 579633, 3.5382309852276888),
 ('Canada', 9984670, 35099836, 3.515372666297434),
 ('Mauritania', 1030700, 3596702, 3.4895721354419327),
 ('Guyana', 214969, 735222, 3.4201303443752353),
 ('Iceland', 103000, 331918, 3.222504854368932),
 ('Australia', 7741220, 22751014, 2.9389442490976876),
 ('Namibia', 824292, 2212307, 2.6838875058838374),
 ('Western Sahara', 266000, 570866, 2.146112781954887),
 ('Mongolia', 1564116, 2992908, 1.9134821202519505),
 ('Pitcairn Islands', 47, 48, 1.0212765957446808),
 ('Falkland Islands (Islas Malvinas)', 12173, 3361, 0.2761028505709357),
 ('Svalbard', 62045, 1872, 0.030171649609154645),
 ('Greenland', 2166086, 57733, 0.026653143042335344),
 ('Chad', None, 11631456, None),
 ('Niger', None, 18045729, None),
 ('Holy See (Vatican City)', 0, 842, None),
 ('Ashmore and Cartier Islands', 5, None, None),
 ('Coral Sea Islands', 3, None, None),
 ('Heard Island and McDonald Islands', 412, None, None),
 ('Clipperton Island', 6, None, None),
 ('French Southern and Antarctic Lands', None, None, None),
 ('Saint Barthelemy', None, 7237, None),
 ('Bouvet Island', 49, None, None),
 ('Jan Mayen', 377, None, None),
 ('British Indian Ocean Territory', 54400, None, None),
 ('South Georgia and South Sandwich Islands', 3903, None, None),
 ('Navassa Island', 5, None, None),
 ('Wake Island', 6, None, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None),
 ('Antarctica', None, 0, None),
 ('Paracel Islands', 7, None, None),
 ('Spratly Islands', 5, None, None),
 ('Arctic Ocean', None, None, None),
 ('Atlantic Ocean', None, None, None),
 ('Indian Ocean', None, None, None),
 ('Pacific Ocean', None, None, None),
 ('Southern Ocean', None, None, None),
 ('World', None, 7256490011, None)]

# Conclusion

**In this project we worked the basic queries to get some key information out of the dataset.**

## Thank you for spending time on my project.